<mat-card>
  <mat-card-header>
    <mat-card-title>Мастер создания заявки</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="firstFormGroup">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step label="Данные о пользователе">
          Данные о пользователе
          <div>
            <button mat-raised-button matStepperNext>Далее</button>
          </div>
        </mat-step>
        <mat-step label="Описание проблемы">
          Описание проблемы
          <div>
            <button mat-raised-button matStepperNext>Далее</button>
          </div>
        </mat-step>
        <mat-step label="Данные о ВТ">
          Данные о ВТ
          <div>
            <button mat-raised-button matStepperNext>Далее</button>
          </div>
        </mat-step>
        <mat-step label="Выбор исполнителя">
          Выбор исполнителя
          <div>
            <button mat-raised-button matStepperNext>Далее</button>
          </div>
        </mat-step>
        <mat-step label="Доп. данные">
          Доп. данные
          <div>
            <button mat-raised-button matStepperNext>Далее</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </mat-card-content>
</mat-card>