@import '~assets/scss/variables';

.comment {
  width: 100%;
  width: 600px;
  max-width: 600px;
}

.priority-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.priority-button {
  margin: 5px;
}
