@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@mixin mat-icon-size($size: 24px) {
  height: $size !important;
  width: $size !important;
  font-size: $size !important;
  line-height: $size !important;
}

$sizes: 18px, 24px, 36px, 48px, 60px, 72px;
@each $size in $sizes {
  .mat-#{$size} {
    @include mat-icon-size($size)
  }
}
