@import "~@angular/material/theming";
@include mat-core();

@function orbita-mat-light-theme-foreground($color) {
  @return (
      base:              $color,
      divider:           $black-12-opacity,
      dividers:          $black-12-opacity,
      disabled:          rgba($color, 0.38),
      disabled-button:   rgba($color, 0.38),
      disabled-text:     rgba($color, 0.38),
      hint-text:         rgba($color, 0.38),
      secondary-text:    rgba($color, 0.54),
      icon:              rgba($color, 0.54),
      icons:             rgba($color, 0.54),
      text:              rgba($color, 0.87),
      slider-min:        rgba($color, 0.87),
      slider-off:        rgba($color, 0.26),
      slider-off-active: rgba($color, 0.38),
  );
};
$orbita-foreground: orbita-mat-light-theme-foreground($gray-black);

/**
 *
 * Default Theme
 *
 */
$default-palette-primary: mat-palette($mat-iss-default-primary);
$default-palette-accent: mat-palette($mat-green);
$default-palette-warn: mat-palette($mat-red);

$default-theme: mat-light-theme($default-palette-primary, $default-palette-accent, $default-palette-warn);
$default-app-theme: map-merge($default-theme, (foreground: $orbita-foreground));

.iss-default-theme {
  @include angular-material-theme($default-app-theme);
  @include material-bootstrap-utilities(mat-color($default-palette-primary), mat-color($default-palette-accent), mat-color($default-palette-warn));
  @include form-border-color(map-get($mat-iss-default-primary, 300));
}

/**
 *
 * Blue Gray Theme
 *
 */
$blue-gray-palette-primary: mat-palette($mat-blue-gray);
$blue-gray-palette-accent: mat-palette($mat-green);
$blue-gray-palette-warn: mat-palette($mat-red);

$blue-gray-theme: mat-light-theme($blue-gray-palette-primary, $blue-gray-palette-accent, $blue-gray-palette-warn);
$blue-gray-app-theme: map-merge($blue-gray-theme, (foreground: $orbita-foreground));

.blue-gray-theme {
  @include angular-material-theme($blue-gray-app-theme);
  @include material-bootstrap-utilities(mat-color($blue-gray-palette-primary), mat-color($blue-gray-palette-accent), mat-color($blue-gray-palette-warn));
  @include form-border-color(map-get($blue-gray-palette-primary, 300));
}
