@import '~@angular/material/theming';

// Colors
$white: #fff;
$gray-base: #959595;
$gray-white: #fafafa; // BG на material
$gray-light-white: #ededed;
$gray-light: #e0e0e0; // Рамки компонентов
$gray-light-dark: #c8c8c8; // Стандартные рамки элементов
$gray-dark: #6c757d;
$gray-black: #2c2c2c;
$mat-iss-default-primary: (
  50: #e6eaf5,
  100: #c2cbe7,
  200: #99a8d7,
  300: #7085c6,
  400: #516bba,
  500: #3251ae,
  600: #2d4aa7,
  700: #26409d,
  800: #1f3794,
  900: #132784,
  A100: #b8c3ff,
  A200: #8597ff,
  A400: #526cff,
  A700: #3956ff,
  contrast: (
    50 : $gray-black,
    100 : $gray-black,
    200 : $gray-black,
    300 : $gray-black,
    400 : $white,
    500 : $white,
    600 : $white,
    700 : $white,
    800 : $white,
    900 : $white,
    A100 : $gray-black,
    A200 : $gray-black,
    A400 : $white,
    A700 : $white
  )
);

// $iss-default-primary: map-get($mat-iss-default-primary, 500);
// $iss-default-accent: map-get($mat-green, 500);
// $iss-default-warn: map-get($mat-red, 500);

// Body
$body-bg-color: $gray-light-white;
$body-color: $gray-black;

// Spacing
$spacer: 1rem;

// Links
$link-color: map-get($mat-iss-default-primary, 500);
$link-hover-color: map-get($mat-iss-default-primary, 800);
$link-hover-decoration: none;

// Text
$light-text-color: $white;
$text-muted: $gray-dark;

// Background
$default-bg-color: $gray-white;

// Borders
$border-color: $gray-light;
$dark-border-color: $gray-light-dark;
$border-width: 1px;
