@import '~@angular/material/theming';
@include mat-core();

// Импорт утилит bootstrap
@import "~bootstrap-utilities";

// Импорт шрифтов и иконок
@import "font";

// Импорт переменных
@import "variables";

// Импорт стилей компонентов
@import "components/sidenav";
@import "components/navigation-bar";
@import "components/table";
@import "components/button";
@import "components/icon";

// Импорт цветовой схемы
@import "custom-theme";
// Импорт стилей для утилит bootstrap
@import "materialize-bootstrap-utilities";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

body { background-color: $default-background-color; }
main { padding: $spacer; }

.horizontal-list {
  display: flex;
  flex-direction: row;
  gap: $spacer;
}
