// Импорт утилит bootstrap
@import "~bootstrap-utilities";

// Импорт шрифтов и иконок
@import "font";

// Импорт миксин
@import "mixines";

// Импорт переменных
@import "variables";

// Импорт material темы
@import "material-theme";

// Custom styles
@import "components/sidenav";
@import "components/navigation-bar";
@import "components/table";
@import "components/icon";
@import "components/stepper";
@import "components/headers";
@import "components/drag-and-drop";
@import "components/list";

body { background-color: $body-bg-color; }
main { padding: $spacer; }

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.inline-list {
  display: flex;
  flex-wrap: wrap;

  .list-item {
    margin: $spacer * 0.5;
  }
}

@supports (gap: $spacer) {
  .inline-list {
     gap: $spacer;

     .list-item {
       margin: 0;
     }
  }
}
