@import '~assets/scss/variables';

.description-problem-step {
  display: flex;
  flex-direction: row;

  .column + .column {
    margin-left: 2 * $spacer;
  }

  & > .block {
    width: 100%;
  }

  .block + .block {
    margin-top: 2 * $spacer;
  }
}

.search-service,
.description,
.tags,
.drop-files {
  width: 100%;
  width: 600px;
  max-width: 600px;
}
