<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav mode="side" fxHide.lt-lg opened class="sidenav-bar mat-elevation-z2">
    <mat-toolbar>
      <mat-toolbar-row class="justify-content-center">
        <img src="assets/images/orbita.png" alt="Логотип системы Орбита" />
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list>
      <a mat-list-item [routerLink]="['/dashboard']">
        <mat-icon mat-list-icon svgIcon="view-dashboard-outline"></mat-icon>
        Сводка
      </a>
      <a mat-list-item [routerLink]="['/claims']">
        <mat-icon mat-list-icon svgIcon="file-document-multiple-outline"></mat-icon>
        Заявки
      </a>
      <a mat-list-item [routerLink]="['/employees']">
        <mat-icon mat-list-icon svgIcon="account-multiple-outline"></mat-icon>
        Работники
      </a>
     </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="mat-elevation-z2">
      <app-header (toggleSidenav)="resizeSidenav()"></app-header>
    </div>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
