<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar>
      <mat-toolbar-row>
        <h2>Орбита</h2>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>
          <a [routerLink]="['/']">Сводка</a>
        </div>
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>email</mat-icon>
        <div mat-line>
          <a [routerLink]="['/claims']">Заявки</a>
        </div>
      </mat-list-item>
     </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSidenav)="resizeSidenav()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
