<mat-toolbar class="navigation-bar" color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon class="mat-18px" (click)="toggleSidenav.emit()" svgIcon="menu"></mat-icon>
    </button> -->
    <!-- <button mat-icon-button>
      <mat-icon class="mat-18px" (click)="toggleColor()" svgIcon="color-helper"></mat-icon>
    </button> -->
    <div fxFlex fxLayout fxLayoutAlign="end">
      <ul fxLayout fxLayoutGap="5px" fxLayoutAlign="center center" class="navigation-items">
        <li>
          <button mat-button>
            <mat-icon class="mat-18px" svgIcon="calendar-clock"></mat-icon>
            15
          </button>
        </li>
        <li>
          <button mat-button>
            <mat-icon class="mat-18px" svgIcon="calendar-check"></mat-icon>
            287
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon class="mat-18px" matBadge="15" matBadgeSize="small" matBadgeColor="warn" svgIcon="alert-outline"></mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon class="mat-18px" matBadge="24" matBadgeSize="small" color="accent" matBadgeOverlap="false" svgIcon="bell-ring-outline"></mat-icon>
          </button>
        </li>
        <li>
          <!-- TODO: Заменить на fioInitials -->
          <button mat-button>
            <mat-icon class="mat-18px" svgIcon="account"></mat-icon>
            <span class="ml-1" fxHide.lt-md>{{ user.fio }}</span>
          </button>
        </li>
        <li>
          <button mat-icon-button (click)="logout()">
            <mat-icon class="mat-18px" svgIcon="logout"></mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
