.sidenav-container {
  height: 100%;

  .sidenav-bar {
    width: 200px;
    background-color: $default-background-color;

    .mat-toolbar-row {
      background-color: $default-background-color;
    }
  }

  .sidenav-content {
    background-color: $default-background-color;
  }
}
