.stepper {
  .step-content-wrapper {
    display: block;
    margin-top: 1.5 * $spacer;
    overflow-y: auto;
  }

  .step-actions {
    display: flex;
    justify-content: space-between;
    padding-top: $spacer;
  }
}

.new-sd-request-wizzard {
  .step-content-wrapper {
    height: 600px;
  }

  .step-content-block + .step-content-block {
    margin-top: 2 * $spacer;
  }

  .step-form-group {
    display: block;
    width: 100%;
    max-width: 600px;
  }

  .small-input-block {
    mat-form-field {
      width: 100%;
      min-width: 150px;
      max-width: 300px;
    }

    mat-form-field + mat-form-field {
      margin-left: 1.5 * $spacer;
    }
  }
}
