<div mat-dialog-title class="title">
  <span class="mat-h2">Заявка по услуге {{ form.service_name }}</span>
  <mat-chip-list class="labels">
    <mat-chip matTooltip="Приоритет">{{ priorities[form.priority]?.title | lowercase }}</mat-chip>
    <mat-chip matTooltip="Срок контроля">
      <mat-icon class="mat-18px mr-2" svgIcon="alarm"></mat-icon>
      {{ form.finished_at_plan | datetime }}
    </mat-chip>
  </mat-chip-list>
</div>
<mat-dialog-content class="mat-typography">
  <div class="content">
    <div class="row">
      <div>Описание</div>
      <div>
        <p *ngIf="form.attrs.description; else noData">{{ form.attrs.description }}</p>
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>
    <div class="row">
      <div>Заказчик</div>
      <div>
        <div *ngIf="sourceSnapshot.tn; else noData">
          <div>ФИО: {{ sourceSnapshot.fio }}</div>
          <div>тел: {{ sourceSnapshot.tel }}</div>
          <div>email: {{ sourceSnapshot.email }}</div>
        </div>
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>
    <div class="row">
      <div>Устройство</div>
      <div>
        <div *ngIf="sourceSnapshot.svt_item; else noData">
          <div>{{ sourceSnapshot.svt_item }}</div>
          <div>инв. №: {{ sourceSnapshot.invent_num }}</div>
        </div>
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>
    <div class="row">
      <div>Исполнители</div>
      <div>
        <div fxLayout="row" fxLayoutGap="1rem">
          <mat-list *ngFor="let userGroup of userGroups">
            <div mat-subheader>{{ userGroup.group.description }}</div>
            <mat-list-item *ngFor="let user of userGroup.users">{{ user.fio }}</mat-list-item>
          </mat-list>
        </div>
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>
    <div class="row">
      <div>Файлы</div>
      <div>
        <mat-list *ngIf="form.attachments.length; else noData">
          <mat-list-item *ngFor="let file of form.attachments">
            <mat-icon mat-list-icon svgIcon="file-outline"></mat-icon>
            <div mat-line>{{ file.file.name }}</div>
            <div mat-line>{{ file.file.size | formatBytes }}</div>
          </mat-list-item>
        </mat-list>
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>
    <div class="row">
      <div>Теги</div>
      <div>
        <mat-chip-list class="small">
          <mat-chip *ngFor="let tag of form.tags">{{ tag.name }}</mat-chip>
        </mat-chip-list>
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>
    <div class="row">
      <div>Комментарий</div>
      <div>
        <p *ngIf="form.comment; else noData">{{ form.comment }}</p>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Вернуться к заявке</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Создать заявку</button>
</mat-dialog-actions>
<ng-template #noData>
  <p class="text-secondary">пусто</p>
</ng-template>