@import '~assets/scss/variables';

.employee-card-wrapper {
  display: flex;
  align-self: center;
  min-width: 500px;
  max-width: 600px;
  padding: 1.5 * $spacer;
}

.employee-card {
  width: 100%;
}

.employee-card-content {
  .column {
    float: left;
    width: 50%;

    .content-table {
      width: 100%;

      .header {
        color: $text-muted;
      }
    }
  }
}
