@import '~assets/scss/variables';

.workers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    display: block;
    margin: $spacer;
  }
}

@supports (gap: $spacer) {
  .workers {
    gap: 2 * $spacer;

    .column {
      margin: 0;
    }
  }
}
