@import '~assets/scss/variables';

.employee-card-content {
  .column {
    float: left;
    width: 50%;

    .content-table {
      width: 100%;

      .header {
        color: $text-muted;
      }
    }
  }
}
