@import '~assets/scss/variables';

.employee-card-wrapper {
  display: flex;
  align-self: center;
  min-width: 500px;
  max-width: 600px;
  padding: 1.5 * $spacer;

  & > * {
    display: block;
    width: 100%;
  }
}
